.vac
  {       
           
    background-color: #20152c;
   
    font-size: 12.5pt;

    text-align: center;
    color: #fff;
     padding: 9px 0;
   
  } 

.idf
{
  display: none;
}

  .aa
{

  width:  56%;
  
  
    margin: 8px auto 8px auto;
    font-size: 12.5pt;
    text-align: center;
    color: #fff;
     padding-top: 9px;
    padding-bottom: 9px;
}

.vac1
  {       
           
    background-color: #20152c;
   
    font-size: 12.5pt;

    text-align: center;
    color: #fff;
     padding: 9px 0;
     margin: 20px 0;
   
  }

.telo
{ width: 650PX;
background-color: #fff;
margin: 20PX auto;

  }

  .telo1
{ width: 960PX;
background-color: #fff;
margin: 10PX auto;

  }

 .telobig
 { width: 1000PX;
background-color: #fff;
margin: 20PX auto;

padding: 40px 0;
 
 
background-color: #fff;
margin: 60px auto;

font-size: 15pt;

  }













.teloact
{  
 padding: 40px 0;
 
 width: 650PX;
background-color: #fff;
margin: 60px auto;
border-radius: 6px;
text-align: center;
vertical-align: center;
font-size: 15pt;
  }




.text {
  padding: 20px 10%; 
  color: #000;

}
.text p
{
  font-size:15pt;

}






.cent
{text-align: center;
margin: 20PX 0; 
font-size: 15pt;
}




@media (min-width: 0px) and (max-width: 960px) {

   .telo1
{ margin: 0 0 15px 0px;

  width: 100%;
background-color: #fff;

  }

}



@media (min-width: 0px) and (max-width: 700px) {

.vac
{

padding: 15px 0;
}
.telo
{ margin: 0 0 15px 0px;

  width: 100%;
background-color: #fff;

  }

  .telo1
{ margin: 0 0 15px 0px;

  width: 100%;
background-color: #fff;

  }

  .vac1
  {       
           
    
     margin: 0px 0;
   
  }


  .teloact
{  
 width: 100%;
  }

}
input {
border-bottom-style: solid;
border-top-style: hidden;
border-right-style:hidden;
border-left-style: hidden;
background: white;
margin: 10px;
color: #6a5acd;
padding: 10px;
position: center;
}
select
{border-bottom-style: solid;
border-top-style: hidden;
border-right-style:hidden;
border-left-style: hidden;
background: white;
margin: 10px;

width: 200px;
color: #6a5acd;
padding: 10px;
position: center;}
 .button {
    background-color:  #20152c; 
    border: none;
    color: white;
    padding: 8px 32px;
    margin: -15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12.5pt;

    cursor: pointer;
}


.button1 {
    background-color:  #20152c; 
    border: none;
    color: white;
    
    margin: -15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12.5pt;

    cursor: pointer;
}


.kolvbil
{
width: 30px;
padding: 10px;
margin: 0 auto 0 0;

}

.biletname

{ 
  width: 310px;


padding: 10px 0 20px 0;
    text-decoration: none;
    display: inline-block;

}

.biletvich
{

 width: 310px;
  margin: 0px  0 0 auto;
text-align: right;
  text-align: center;
    text-decoration: none;
    
  display: inline-block;
}





#formP
{display: none;}

#soon
{display: none;}

 img {display: block;
      margin: 10% 0;}






.poster
{padding-top: 30px ;

display: inline-block;}

.opisfilm
{
padding: 50px 30px;
width: 600px;

display: inline-block;

position: absolute;

}

.traler
{
  padding-top:  20px ;
  padding-bottom: 30px; 


}



.traler2
{
  display: none;
}
#form2

{
  display: none;
}
@media (min-width: 0px) and (max-width: 1100px) {

 .telobig
 { width: 100%;


  }

.opisfilm
{

width: 46%;

padding: 20px 0px 50px 20px;

}





  

.poster
{padding: 5px;
}


}



@media (min-width: 0px) and (max-width: 700px) {
.traler
{
  display: none;

}
.traler2
{
  display: inline;
  position: center
}





}

.errorpass
{
  position: left;
  color: red;
  font-size: 12px;
  
  display: none;

}


 .plus {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 6px;
    margin: 0 0px 0 -4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

 .minus {
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 8px 6px;
    margin: 0 -4px 0 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.cenabil


{
  width : 40px
}
.kinoreadmeato
{
  width : 190px
}

.databil


{
  width : 40px
}

.lef
{

   text-align: right;
}


.modalDialog {
    position: fixed;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
  }

  .modalDialog:target {
    display: block;
    pointer-events: auto;
  }

  .modalDialog > div {
    width: 250px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
   
  }

  .close {
    background: #000;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
  }

  .close:hover { background: #000; }


.biletinf

{ 
  



    text-decoration: none;
    display: inline-block;

}


.vxod
{background-color:  #20152c; 
padding: .7em 1.5em;
    }

  
.closs
{background-color: #6a5acd;;
color:  #20152c;
padding: .7em 1.5em;

}


